# Entornos virtuales
venv/
.venv/
env/
.env/

# Archivos temporales
*.pyc
*.pyo
*.pyd
__pycache__/

# Configuración del entorno de desarrollo
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Archivos y carpetas de despliegue
*.log
*.bak
.python-version

# Archivos específicos del sistema operativo
Thumbs.db
desktop.ini
# Ignorar archivos DLL y Python en la carpeta site-packages
antenv/Lib/site-packages/*.dll
antenv/Lib/site-packages/*.py
antenv/Lib/site-packages/*.pth
# Ignorar entorno virtual y bases de datos
antenv/
chroma_db/
instance/
uploads/

# Ignorar archivos específicos
.env
replace.txt
tudy-guide-branch

