<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Selecione a especialidade</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Selecione a opção de teste</h1>
      <form method="POST" action="/generate_exam" class="mt-4">
        <input type="hidden" name="exam_type" value="{{ exam_type }}">
        
        {% if exam_type == 'exani_ii' %}
          <!-- Campos para EXANI-II -->
          <div class="form-group">
            <label for="segmento">Selecione o segmento:</label>
            <select id="segmento" name="segmento" class="form-control" required>
              <option value="Segmento 1">Segmento 1</option>
              <option value="Segmento 2">Segmento 2</option>
              <option value="Segmento 3">Segmento 3</option>
              <!-- Adicione mais segmentos conforme necessário -->
            </select>
          </div>
          <div class="form-group">
            <label for="asignatura">Selecione a disciplina:</label>
            <select id="asignatura" name="asignatura" class="form-control" required>
              <option value="Matemáticas">Matemática</option>
              <option value="Español">Espanhol</option>
              <option value="Ciencias Naturales">Ciências Naturais</option>
              <!-- Adicione mais disciplinas conforme necessário -->
            </select>
          </div>
          <div class="form-group">
            <label for="num_items">Número de questões:</label>
            <input type="number" id="num_items" name="num_items" class="form-control" required>
          </div>

        {% elif exam_type == 'baccalaureat' %}
          <!-- Campos para Baccalauréat -->
          <div class="form-group">
            <label for="speciality">Selecione a especialidade:</label>
            <select id="speciality" name="speciality" class="form-control" required>
              <option value="SPÉCIALITÉ MATHÉMATIQUES">Especialidade Matemática</option>
              <option value="SPÉCIALITÉ HISTOIRE-GÉOGRAPHIE, GÉOPOLITIQUE ET SCIENCES POLITIQUES">Especialidade História-Geografia, Geopolítica e Ciências Políticas</option>
              <option value="SPÉCIALITÉ PHYSIQUES-CHIMIE">Especialidade Física-Química</option>
              <option value="SPÉCIALITÉ BIOCHIMIE-BIOLOGIE BAC TECHNOLOGIQUE STL">Especialidade Bioquímica-Biologia BAC Tecnológico STL</option>
              <option value="SPÉCIALITÉ NUMÉRIQUE ET SCIENCES INFORMATIQUES BAC GÉNÉRAL">Especialidade Numérica e Ciências Informáticas BAC Geral</option>
              <option value="SPÉCIALITÉ HUMANITÉS, LITTÉRATURE ET PHILOSOPHIE">Especialidade Humanidades, Literatura e Filosofia</option>
            </select>
          </div>
          <div class="form-group">
            <label for="num_items">Número de soluções a gerar:</label>
            <input type="number" id="num_items" name="num_items" class="form-control" required>
          </div>

        {% elif exam_type == 'enem' %}
          <!-- Campos para ENEM -->
          <div class="form-group">
            <label for="cuaderno">Selecione o caderno:</label>
            <select id="cuaderno" name="cuaderno" class="form-control" required>
              <option value="caderno_linguagens_e_seus_codigos.pdf">Caderno Linguagens e seus Códigos</option>
              <option value="caderno_fisica.pdf">Caderno Física</option>
              <option value="caderno_quimica.pdf">Caderno Química</option>
              <option value="caderno_matematicas.pdf">Caderno Matemática</option>
              <option value="caderno_biologia.pdf">Caderno Biologia</option>
              <option value="caderno_ciencias_humanas.pdf">Caderno Ciências Humanas</option>
            </select>
          </div>
          <div class="form-group">
            <label for="num_items">Número de perguntas a gerar:</label>
            <input type="number" id="num_items" name="num_items" class="form-control" required>
          </div>

        {% endif %}

        <button type="submit" class="btn btn-primary btn-block">Gerar</button>
      </form>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
